body {
    font-size: 18px;
    line-height: 1.6;
}

.allbutfooter {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*Style box 1*/
.firstBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 150px 50px 40px 50px;
    padding: 80px;
    border-radius: 10px;
    box-shadow: 0 4px 6px 5px rgba(0, 0, 0, 0.1),
        0 2px 4px -1px rgba(0, 0, 0, 0.06);   
}
/*Style box 2*/
.secondBox {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 80px;
    margin: 40px 50px 40px 50px;
    border-radius: 10px;
    box-shadow: 0 4px 6px 5px rgba(0, 0, 0, 0.1),
        0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
/*Style box 3*/
.thirdBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px;
    margin: 40px 50px 150px 50px;
    border-radius: 10px;
    box-shadow: 0 4px 6px 5px rgba(0, 0, 0, 0.1),
        0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
/*Les 3 images*/
.img-card {
    width: 40%;
    height: auto;
}
/*Titre de chaque box*/
.title-card{
    font-weight: 700;
    font-family: "Poppins";
}
/*Texte de chaque box*/
.textContent {
    font-family: "Open Sans";
    font-weight: 400;
    color:darkgrey;
    max-width: 490px;
}

/*ENCART FLOTTANT*/
.floatContainer {
    width: 500px;
    height: auto;
    display: flex;
    flex-direction: column;
    transform: translateY(30%);
    align-items: center;
    gap: 20px;
    z-index:9999;
    background-color: #ffffff;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 6px 5px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06); 
}
.floatMessage {
    margin: 0;
    text-align: center;
    white-space: nowrap;
    font-style: bold;
    font-family: "Poppins";
    font-weight: 700;
}
#sticky-btn {
    width: max-content;
    font-weight: 600;
    border: none;
    outline: none;
    background-color: hsl(322, 100%, 66%);
    color: #ffffff;
    border-radius: 25px;
    cursor: pointer;
    padding: 18px 60px 18px 60px;
    transition: all 0.3s ease-out 100ms 
}
/*MEDIA QUERIES*/
@media only screen and (max-width: 576px){
    .firstBox {
        flex-direction: column-reverse;
        text-align: center;
    }
    .secondBox {
        flex-direction: column-reverse;
        text-align: center;
    }
    .thirdBox {
        flex-direction: column-reverse;
        text-align: center;
    }
    .img-card{
        margin-top: 20px;
        margin-bottom: 20px;
        width: 100%;
        
    }
    .floatContainer {
        width: 70%;
        height: auto;
    }
    .floatMessage {
        padding-left: 10px;
        padding-right: 10px;
    }
}